---
pagination:
  data: collections.posts
  size: 5
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `posts${pagination.pageNumber + 1}/index.html` %><% } else { %>posts/index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Posts Page ${pagination.pageNumber + 1} | ${site.title} - LPS Pavement Company` %><% } else { %>Recent Posts - Foxes Invest<% } %>'
---
<div class=" container mx-auto px-4">
  <h1 class="font-bold text-primary text-4xl mb-24 mt-10">Posts</h1>
  <div class=" md:flex md:flex-wrap">
    <% list.forEach((post) => { %>
    <div class="w-full md:w-5/12">
      <a href="<%= post.url %>">
        <div class="post">
          <div class="my-10">
            <img src="<%= post.data.imgUrl %>" alt="" class="post-img w-full">
            <div class="img-bg mb-6"></div>
            <a href="<%= post.url %>" class=" text-gray-800 font-semibold text-3xl"><%= post.data.title %></a>
            <div class=" text-gray-600 text-sm"><%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %></div>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
    </div>

  <div class="text-sm flex justify-between">
    <% if (pagination.previous) { %>
    <div>
      <a href="<%= pagination.previous.replace(/index.html$/, "") %>">← Newer Posts</a>
    </div>
    <% } %> <% if (pagination.next) { %>
    <div class="text-right ml-auto border-gray-300">
      <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts →</a>
    </div>
    <% } %>
  </div>

</div>

<script src="../js/layout.js"></script>